.header {
    font-weight: normal;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
}

/* Fix rendering of switches inside a modal */
.switch {
    position: relative;
    z-index: 9999;
}
