.header {
    font-weight: normal;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp8);
    color: var(--colors-grey800);
}

.contexts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacers-dp16);
    margin-bottom: var(--spacers-dp12);
}

.context {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--spacers-dp4);
    border: 1px solid var(--colors-grey300);
    padding: var(--spacers-dp12);
    border-radius: 6px;
}

.selectedContext {
    composes: context;
    border-color: var(--colors-teal400);
    background: var(--colors-teal050);
}

.contextTitle {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: var(--spacers-dp8);
    font-size: 14px;
}

.contextDescription {
    font-size: 13px;
    color: var(--colors-grey800);
}
