.instructionsHeader {
    font-size: 18px;
    font-weight: 500;
    color: var(--colors-grey900);
}

.orderedList {
    padding-inline-start: 24px;
    font-size: 14px;
    line-height: 19px;
}

.orderedList li + li {
    margin-top: var(--spacers-dp8);
}
