.qrCode {
    width: 200px;
    height: 200px;
    display: block;
}


.orderedList {
    padding-inline-start: 24px;
    font-size: 14px;
    line-height: 19px;
}

.stepWithAction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacers-dp8);
    margin-bottom: var(--spacers-dp24);
}

.buttonWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacers-dp4);
}

.errorMessage{
    color: #d3302f;
    margin: var(--spacers-dp4);
}

.successMessage{
    display: flex;
    align-items: center;
    gap: var(--spacers-dp8);;
    margin: var(--spacers-dp4);
}
.orderedList li + li {
    margin-top: var(--spacers-dp8);
}

.downloadLink a {
    color: var(--colors-grey900);
}
