.enableNoticeContainer {
    max-width: 640px;
    margin-top: var(--spacers-dp32);
}

.enableNoticeTitle {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp8);
    font-size: 14px;
    line-height: 19px;
    color: var(--colors-grey900);
    margin: 0 0 var(--spacers-dp8);
}

.enableNoticeBody {
    color: var(--colors-grey800);
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 0 var(--spacers-dp24);
}
