.avatar-editor {
    position: relative;
}
.avatar-editor__label {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
}
.avatar-editor__preview-wrap {
    margin-bottom: 8px;
}
.avatar-editor__buttonstrip {
    display: flex;
}
.avatar-editor__preview {
    position: relative;
    display: inline-block;
}
.avatar-editor__image {
    max-width: 200px;
    max-height: 200px;
}
.avatar-editor__remove {
    position: absolute;
    top: 4px;
    left: 4px;
}
.avatar-editor__not-available {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
    border: 1px solid #bdbdbd;
}
